
$primary: #684df4;
$secondary: rgba(53, 41, 41, 0.5);
$success: #3C824C;
$danger: #D41919;
$info:#6EC1E4;
$warning: #D7C41B;
$dark:#141D38;
$light: #FFFFFF;
$soft:lightblue;
$pink:rgba(255, 182, 193, 0.144);
$footer:#080e1c;