@import '../assets/component/button.css';
@import '../assets/component/card.css';
@import '../assets/page/about.css';
@import '../assets/page/contact.css';
@import '../assets/page/home.css';

.d-flex{
     display: flex;
     gap:10px;
     width: 100%;
}