.font{
    font-family: "Edu AU VIC WA NT Dots", cursive;
}
.container{
    width: 90%;
}
.fs-24{
    font-size: 24px;
    font-weight: 500;
}
.text-align{
    text-align: center;
}
.fs-28{
    font-size: 28px;
    font-weight: 500;
    line-height: 1.2;
    ;
}