$primary: #cfe2ff;
$secondary: #e2e3e5;
$success: #d1e7dd;
$danger:#f8d7da ;
$warning:#fff3cd;
$info:#cff4fc ;
$light:#fefefe ;
$dark: #d3d3d4;

.alerts{
    margin: 20px 30px;
}

.alert{
    padding: 20px 40px;
    border-radius:4px;
    border: 1px solid;
    margin-top: 5px;
    margin-bottom: 5px;

    &.alert-primary{
        background-color: $primary;
        color: #084298;
        border:1px solid #b6d4fe;
    }
    &.alert-secondary{
        background-color: $secondary;
        color: #41464b;
        border-color: #d3d6d8;
    }
    &.alert-success{
        background-color: $success;
        color: #0f5132;
        border-color: #badbcc;
    }
    &.alert-danger{
        background-color: $danger;
        color: #842029;
        border-color: #f5c2c7;
    }
    &.alert-warning{
        background-color: $warning;
        color: #664d03;
        border-color: #ffecb5;
    }
    &.alert-info{
        background-color: $info; 
        color: #055160;
        border-color: #b6effb;
    }
    &.alert-light{
        background-color: $light;
        color: #636464;
        border-color: #fdfdfe;
    }
    &.alert-dark{
        background-color: $dark;
        color: #141619;
        border-color: #bcbebf;
    }
}