$primary: rgba(29, 25, 212, 0.86);
$secondary: rgba(0, 0, 0, 0.5);
$success:rgba(60, 130, 76, 1);
$danger:rgba(212, 25, 25, 0.86);
$warning:rgba(215, 196, 27, 1);
$info:rgba(25, 190, 212, 1);
$light:white;
$dark:rgba(11, 11, 16, 1);