@import '../utlities/variable';

@function pxtorem($getSize, $baseSize: 16){
    @return $getSize / $baseSize * 1rem;
}




// $bgColor: ($primary, $primary-25, $primary-50, $warning, $warning-25, $warning-50);

$bgColor : (
    'primary': $primary,
    'primary-mid': $primary-25,
    'primary-light': $primary-50,
    'warning': $warning,
    'warning-mid': $warning-25,
    'warning-light': $warning-50,
);

@each $color-name, $color-value in $bgColor{
    .btn-#{$color-name}{
        background-color: $color-value;
        
        &:is(.is-outline){
            background-color: transparent;
            border:pxtorem(1) solid $color-value;
            color: $color-value;

            &:hover{
                background-color: $color-value;
                color: $light;
            }
        }
    }
    .badge-#{$color-name}{
        background-color: $color-value;
    }
    .card-#{$color-name}{
        background-color: $color-value;
    }
}

// @for $i from 1 through length($bgColor) {
//     .bg-#{$i}{
//         background-color: nth($bgColor, $i);
//     }
// }