$primary: #9ec5fe;
$secondary:#e2e3e5;
$success: #a3cfbb;
$danger: #f1aeb5;
$info: #ffe69c;
$warning: #9eeaf9;
$dark: #e9ecef;
$light:#adb5bd;

$size-sm:10px;
$size-md:15px;
$size-xl:20px;
$size-xxl:30px;
.alert{
    padding:$size-xl  $size-xxl ;
    border: none;
    border-radius: 4px;
    margin-top: $size-sm;
}
.alert-primary{
    background-color: $primary;
    border: 1px solid $primary;
    color: #052c65;
}
.alert-secondary{
    background-color: $secondary;
    border: 1px solid $secondary;
    color: #2b2f32;
}
.alert-success{
    background-color: $success;
    border: 1px solid $success;
    color: #0a3622;
}
.alert-danger{
    background-color: $danger;
    border: 1px solid $danger;
    color: #58151c;
}
.alert-warning{
    background-color: $warning;
    border: 1px solid $warning;
    color: #664d03;
    
}
.alert-info{
    background-color: $info;
    border: 1px solid $info;
    color: #055160;
}
.alert-light{
    background-color: $light;
    border: 1px solid $light;
    color: #fcfcfd;
}
.alert-dark{
    background-color: $dark;
    border: 1px solid $dark;
    color: #495057;
}