$danger: red;
$success: green;
$primary: blue;
$light:white;

$size-sm: 10px; 
$size-md: 15px; 
$size-xl: 20px; 
$size-xxl: 30px; 

.card{
    background-color:$primary;
    color: light;
    width: 300px;
    padding: $size-xl;
    box-shadow: 4px 5px 6px 4px;
    
}

.light{
    color: $light;
}
.on{
    background-color: $success;
    color: $light;
    padding: $size-sm $size-xxl;
    border: none;
    border-radius: $size-sm - 5;

}
.off{
    background-color: $danger;
    color: $light;
    padding: $size-sm $size-xxl;
    border: none;
    border-radius: $size-sm - 5;
}