@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css);
* {
  margin: 0;
  list-style-type: none;
  text-transform: none;
}

.font-femliy {
  font-family: "Poppins", serif;
}

.nav-bg {
  background-color: lightblue;
}

.font-lg {
  font-size: 3.75rem;
}

.section-bg {
  background-color: rgba(255, 182, 193, 0.144);
}

.profile-1 {
  border: 0.1875rem solid rgba(53, 41, 41, 0.5);
  width: 24.375rem;
  height: 20rem;
  border-radius: 0.625rem;
}

.animation-1 {
  position: relative;
}

.animation-4 {
  position: relative;
}

.left {
  left: -1.25rem;
}

.left-11 {
  left: -5.25rem;
}

.right-1 {
  right: -1.25rem;
}

.right-11 {
  right: 36.75rem;
}

.animation-2 {
  position: relative;
}
.animation-2.right {
  right: 0;
  position: absolute;
}

.animation-3 {
  position: relative;
}
.animation-3.left-1 {
  left: 0;
  position: absolute;
}

.motion-1 {
  animation-name: glass;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}

.motion-4 {
  animation-name: class;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}

@keyframes class {
  from {
    transform: translatey(-20px);
  }
  to {
    transform: translatey(40px);
  }
}
@keyframes glass {
  from {
    transform: translatex(-20px);
  }
  to {
    transform: translatex(40px);
  }
}
.motion-2 {
  animation-name: topup;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}

.motion-3 {
  animation-name: ameen;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-direction: alternate;
}

@keyframes ameen {
  from {
    transform: translatex(20px);
  }
  to {
    transform: translatex(40px);
  }
}
@keyframes topup {
  from {
    transform: translatey(-20px);
  }
  to {
    transform: translatey(40px);
  }
}
.motion-5 {
  animation-name: ring;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes ring {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.service-1 {
  width: 28.75rem;
  height: pixtorm(490s);
  background-color: #FFFFFF;
  border: 0.1875rem solid #FFFFFF;
}

.ms-80 {
  margin-left: 37.75rem;
}

.mt-25 {
  margin-top: 1.5625rem;
}

.pic-1:hover {
  transform: scale(0.9);
}

.group-11 {
  width: 24.75rem;
  height: 15rem;
  border-radius: 0.5rem;
}

.footer-bg {
  background-color: #080e1c;
}

.footer-lg {
  background-color: #684DF4;
  box-shadow: -10px -11px 2px 3px grey;
}
.footer-lg:hover {
  transform: scale(0.8);
}/*# sourceMappingURL=main.css.map */