$danger:#d41919;
$success:#3c824c;
$primary:#1d19d4;
$warning:#d7c41b;
$light:#ffffff;
$secondary:rgb(0,0,0, 50%);
$info:#19bed4;
$dark:#000000;

$size-sm: 10px;
$size-md: 15px;
$size-xl: 20px;
$size-xxl: 30px;

.badge{
    padding: 5px 20px;
    border: none;
    border-radius: 60px;
    color: $light;
    cursor: pointer;

    &:hover{
        transition: 0.3s;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    }
    &.text-bg-primary{
        border: 2px solid $primary;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $primary;
            color: $light;
        }
    }
    &.text-bg-primary{
        background-color: $primary;
    }
    &.text-bg-secondary{
        border: 2px solid $secondary;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $secondary;
            color: $light;
        }
    }

    &.text-bg-secondary{
        background-color: $secondary;
       
    }

    &.text-bg-success{
        border: 2px solid $success;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $success;
            color: $light;
        }
    }

    &.text-bg-success{
        background-color: $success;
    }

    &.text-bg-danger{
        border: 2px solid $danger;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $danger;
            color: $light;
        }
    }

    &.text-bg-danger{
        background-color: $danger;
    }

    &.text-bg-warning{
        border: 2px solid $warning;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $warning;
            color: $light;
        }
    }

    &.text-bg-warning{
        background-color: $warning;
    }

    &.text-bg-info{
        border: 2px solid $info;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $info;
            color: $light;
        }
    }
    &.text-bg-info{
        background-color: $info;
    }
    &.text-bg-dark{
        border: 2px solid $dark;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $dark;
            color: $light;
        }
    }
    &.text-bg-dark{
        background-color: $dark;
    }

    &.text-bg-light{
        border: 2px solid $light;
        background-color: transparent;
        color: $light;
        &:hover{
            background-color: $light;
            color: $dark;
        }
    }
    &.text-bg-light{
        background-color: $light;
        color: $dark;
    }
}
