$danger:red;
$success:green;
$primary:blue;
$warning:orange;
$light:white;

$size-sm: 10px;
$size-md: 15px;
$size-xl: 20px;
$size-xxl: 30px;
.bg{
    background-color: orange;
    width: 300px;
    padding: $size-xl;
}
.on{
    background-color: $success;
    color:$light;
    padding: $size-sm $size-xxl;
    border: none;
    border-radius: $size-sm - 5;

}
.off{
    background-color: $danger;
    $color:$light;
    padding: $size-sm $size-xxl;
    border: none;
    border-radius: $size-sm - 5;
}


    