@import '../../assets/utilities/variable';
@import '../../assets/utilities/function';

@mixin btn-default() {
     color: $light;
     box-shadow: 2px 2px 4px rgba(0,0,0,.3);
     display: flex;
     gap:10px;
     align-items: center;
     font-size: pxtoremconverter(16);
     border: none;
     border-radius: 100px;
     padding:pxtoremconverter(12) pxtoremconverter(20) ;
     margin:pxtoremconverter(5) 0 ;
     cursor: pointer;
     &:hover{
          box-shadow: 2px 2px 4px rgba(0,0,0,0.6)
     }
     &:is(.icon-btn){
          border-radius:100%;
          padding: 10px 15px;
     }
}
@mixin btn-default-md(){
     color: $light;
     border: none;
     display: flex;
     gap:10px;
     align-items: center;
     font-size: pxtoremconverter(14);
     border-radius: 100px;
     padding:pxtoremconverter(8) pxtoremconverter(16) ;
     margin:pxtoremconverter(5) 0 ;
     cursor: pointer;
     &:hover{
          box-shadow: 2px 2px 4px rgba(0,0,0,0.6)
     }
     &:is(.icon-btn){
          border-radius:100%;
          padding: 10px 12px;
     }
}
@mixin btn-default-sm(){
     color: $light;
     border: none;
     display: flex;
     gap:10px;
     align-items: center;
     border-radius: 100px;
     padding:pxtoremconverter(4) pxtoremconverter(12) ;
     margin:pxtoremconverter(5) 0 ;
     cursor: pointer;
     &:hover{
          box-shadow: 2px 2px 4px rgba(0,0,0,0.6)
     }
     &:is(.icon-btn){
          border-radius:100%;
          padding: 10px 12px;
     }
}
