@import '../utilities/function';
@import '../utilities/variable';

table{
     width:100%;
     text-align: center;
     border-collapse: collapse;
     tr:nth-child(even){
          background-color: azure;
     }
}
td,th{
     padding: pxtorem(10);
}
thead{
     background-color: darkcyan;
     color:$light;
}