*{
    margin: 0;
}
table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    thead{
       th{
        background-color: green;
        color: black;
       }
    }
    tr,td,th{
        border: 1px solid orange;
        padding: 10px;
    }

    tr:nth-child(even){
        background-color: red;
        color: blue;
    }
    tr:nth-child(odd){
        background-color: pink;
        color: black;
    }
}