@import '../../utilies/function';
@import '../../utilies/variable';
@import '../../base/typography';

.badge-flat{
    padding: pixtorem(3) pixtorem(6);
    border: none;
    border-radius:pixtorem(60);
    cursor: pointer;
    color: $light;
    margin-top: 15px;
    font-size:$size-sm;
    

    &.is-rounded{
        padding: pxtorem(2) pxtorem(5);
        border-radius: pxtorem(60);
        
    }
    
}
.badge-flat-1{
    padding: pixtorem(3) pixtorem(6);
    border: none;
    cursor: pointer;
    color: $warning;
    margin-top: 15px;
    font-size:$size-sm;
}
.badge-flat-2{
    padding: pixtorem(3) pixtorem(6);
    border: none;
    border-radius: pixtorem(5);
    cursor: pointer;
    color: $success;
    margin-top: 15px;
    font-size:$size-sm;
}
.flex{
    display: flex;
}
.text{
    text-align: center;
}