@import '../utilities/variable.scss';
@import '../../assets/utilities/function.scss';

@mixin btn-default(){
    border-radius: covert(50);
    color: $light;
    border:  #FF5449;
    

}
@mixin card-default(){

}