@import '../../variables/variable.scss';

.card{
     padding: $size-md;
     border: 1px solid $dark;
     width: 300px;
     margin: 40px auto;
     .title{
          font-size: $size-md + 10;
     }
     .subtitle{
          font-size: $size-md;
     }
     .content{
          font-size: $size-sm;
     }
}