@import '../../utilities/mixin';
@import '../../utilities/function';

.btn-flat{
     @include btn-default();

     &:is(.rounded){
          border-radius: 60% !important;
          -webkit-border-radius: 60% !important;
          -moz-border-radius: 60% !important;
          -ms-border-radius: 60% !important;
          -o-border-radius: 60% !important;
}
}