$primary:rgba(28, 82, 244, 1);
$primary-25:rgba(62, 110, 255, 1);
$primary-50:rgba(102, 138, 248, 1);
$success:rgba(0, 139, 14, 1);
$success-25:rgba(38, 204, 55, 1);
$success-50:rgba(113, 255, 127, 1);
$danger:rgba(186, 26, 26, 1);
$danger-25:rgba(255, 84, 73, 1);
$danger-50:rgba(255, 180, 171, 1);
$warning:rgba(173, 102, 7, 1);
$warning-25:rgba(235, 153, 63, 1);
$warning-50:rgba(255, 220, 190, 1);
$secondary:rgba(89, 97, 115, 1);
$secondary-25:rgba(146, 154, 171, 1);
$secondary-50:rgba(215, 218, 224, 1);
$light:white;