@import '../../utilits/function';
@import '../../utilits/mixin';
@import '../../utilits/variable';
@import '../../base/typography';

.input-control{
    @include input-default();
    &.box-shadow{
        box-shadow:  pixtorem(4) pixtorem(2) pixtorem(2) pixtorem(0) $natural-50;
        
    }
    
}
.input-control-1{
     
    @include success-default();
    &.box-shadow{
        box-shadow:  pixtorem(4) pixtorem(2) pixtorem(2) pixtorem(0) $success-50;
        
    }
}
.input-control-2{
    @include info-default();
    &.box-shadow{
        box-shadow:  pixtorem(4) pixtorem(2) pixtorem(2) pixtorem(0) $info;
        
    }
}
.input-control-3{
    @include danger-default();
    &.box-shadow{
        box-shadow:  pixtorem(4) pixtorem(2) pixtorem(2) pixtorem(0) $error-50;
        
    }
}