@import '../variable/variable';
@import '../function/function';

@mixin btn-default(){
    padding: 10px 20px;
    border:none;
    color: $light;
    border-radius: pxtorem(6)rem;
}

@mixin btn-bgs($bgColor, $color){
    background-color: $bgColor;
    color: $color;
}

@mixin bg-gredient($color1, $color2, $color3){
    background-image: linear-gradient($color1, $color2, $color3);
}