.container-1{
     width: 90%;
     margin: 0 auto;
}
.container-2{
     width:95%;
     margin: 0 auto;
}

.row-col-2,.row-col-3, .row-col-4, .row-col-5, .row-col-6{
     display: grid;
}
.row-col-2{
     grid-template-columns:repeat(2,  1fr);
}
.row-col-3{
     grid-template-columns: repeat(3, 1fr) ;
}
.row-col-4{
     grid-template-columns:repeat(4, 1fr) ;
}
.row-col-5{
     grid-template-columns:repeat(5, 1fr) ;
}
.row-col-6{
     grid-template-columns:repeat(6, 1fr);
}
