@import '../utilities/function';
@import '../utilities/variable';

@mixin card-default(){
    padding:  pxtoremconvertor(10) pxtoremconvertor(16);
    border-radius: pxtoremconvertor(5);
    width: pxtoremconvertor(580);
    height: pxtoremconvertor(280);
    border: 1px solid $dark;

    
    
}