@import '../utilits/function';
@import '../utilits/variable';

@mixin input-default(){
    width: pixtorem(306);
    height:pixtorem(36);
    border-radius:pixtorem(4);
    cursor:pointer;
    font-size:$size-md;
    color:$natural-50;
}
@mixin success-default(){
    width: pixtorem(306);
    height:pixtorem(36);
    border-radius:pixtorem(4);
    cursor:pointer;
    font-size:$size-md;
    color:$success-25;
    border-color: chartreuse;
}
@mixin info-default(){
    width: pixtorem(306);
    height:pixtorem(36);
    border-radius:pixtorem(4);
    cursor:pointer;
    font-size:$size-md;
    color:$info;
    border-color: skyblue;
}
@mixin danger-default(){
    width: pixtorem(306);
    height:pixtorem(36);
    border-radius:pixtorem(4);
    cursor:pointer;
    font-size:$size-md;
    color:$error-50;
    border-color: $error-50;
}

