
@import "../../varibles/variables.scss";
 
.btn{
    padding: 10px 20px;
    border-radius: 4px;

    &.btn-primary{
        background-color: $primary;
        color: $light;
        border: 2px solid $light ;
    }
    &.btn-danger{
        background-color: $danger;
        color: $dark;
        border: 2px solid $dark ;
    }

}
