@import '../utilities/mixin';
@import '../utilities/variable';

.btn-flat{
     @include btn-default();
     &.btn-warning{
          background-color: $warning;
     }
     
}
.btn-flat-md{
     @include btn-default-md();
     &.btn-primary{
          background-color: $warning;
     }
}
.btn-flat-sm{
     @include btn-default-sm();
    
     &.btn-warning{
          background-color: $warning;
     }
}
.btn-outline{
     @include btn-default();
     &.btn-warning{
          background-color: $warning-25;
          border: pxtorem(2) solid $light;
     }
     &.btn-default{
          background-color: $secondary;
          
     }
}
.btn-outline-md{
     @include btn-default-md();
     &.btn-warning{
          background-color: $warning-25;
          border: pxtorem(2) solid $light;
     }
     &.btn-default{
          background-color: $secondary;
          
     }
}
.btn-outline-sm{
     @include btn-default-sm();
     &.btn-warning{
          background-color: $warning-25;
          border: pxtorem(2) solid $light;
     }
     &.btn-default{
          background-color: $secondary;
          
     }
}
.btn-inset-outline{
     @include btn-default();
     &.btn-warning{
          background-color: $warning-50;
          border: pxtorem(2) inset $light;
     }
}
.btn-inset-outline-md{
     @include btn-default-md();
     &.btn-warning{
          background-color: $warning-50;
          border: pxtorem(2) inset $light;
     }
}
.btn-inset-outline-sm{
     @include btn-default-sm();
     
     &.btn-warning{
          background-color: $warning-50;
          border: pxtorem(2) inset $light;
     }
}
