*{
     list-style: none;
     text-decoration: none;
}
.nav{
     margin:0 auto;
     &.nav-tabs{
          display: flex;
          gap:20px
     }
     .nav-item{
          padding: 5px;
     }
     .nav-item:hover{
          padding: 5px;
          transition: 0.5s;
          border: 1px solid gray;
}
     .active , .disabled{
          color: #212529;
     }
     .dropdown-menu{
          display: none;
          position: absolute;
          top: 34px;
          right: -81px;
          width: 150px;
          border: 1px solid grey;
          padding: 5px;
          line-height:1.2;
     }
     .dropdown-item{
          color: #212529;
     }
     .dropdown{
          position: relative;
     }
     .dropdown:hover .dropdown-menu{
          display: block;
     }
}