@import '../utilities/variable';

.text-green{
     color: $green;
}
.b-green{
     background-color: $bg-green;
}
.bg-cement{
     background-color: $cement;
}
.ban{
     padding: 30px 20px;
     border-radius: 8px;
     &:hover{
          background-color: $bg-green;
          transition: 0.3s;
}
}
