@import '../utilities/mixin';
@import '../utilities/variable';

.btn-flat{
    @include btn-default();
    display: flex;
    gap: 5px;
    &.btn-primary{
        background-color: $primary-dark;
    }
}
.btn-outline{
    @include btn-default();
    display: flex;
    gap: 5px;
    &.btn-primary{
        background-color: $primary-default;
        border: 2px solid $dark;
    }
}
.btn-inset{
    @include btn-default();
    display: flex;
    gap: 5px;
    &.btn-primary{
        background-color: $primary-light;
        border: 2px inset $dark;
    }
}
.btn-desabled{
    @include btn-default();
    display: flex;
    gap: 5px;
    &.btn-secondary{
        background-color: $secondary;
        border: 2px desabled $dark;
    }
}


.btn-flat-2{
    @include btn-default-2();
    &.btn-primary{
        background-color: $primary-dark;
        border: pxtoremconvertor(2) solid $dark;
    }
}

.btn-outline-2{
    @include btn-default-2();
    &.btn-primary{
        background-color: $primary-default;
        border: pxtoremconvertor(2) solid $dark;
    }
}

.btn-inset-2{
    @include btn-default-2();
    &.btn-primary{
        background-color: $primary-light;
        border: pxtoremconvertor(2) solid $dark;
    }
}

.btn-desabled-2{
    @include btn-default-2();
    &.btn-primary{
        background-color: $secondary;
        border: pxtoremconvertor(2) solid $dark;
    }
}