$danger: darkred;
$success: green;
$primary: blue;
$warning: rgb(255, 77, 0);
$light: rgb(40, 206, 218);
$white: white;

$size-sm: 10px; 
$size-md: 15px; 
$size-xl: 20px; 
$size-xxl: 30px; 

h1{
    color: $warning;
    font-size: $size-xl;
}
h3{
    color: $white;
    font-size: $size-md;
}
.card{
    background-color:$light;
    border: 300px;
    width: 300px;
    padding: 10px 15px;
    box-shadow: 5px 4px 6px 8px;
    
}
.text{
    text-align: center;
}