$primary: blue;
$secondary: grey;
$success: green;
$danger: red;
$warning: yellow;
$info:   skyblue;
$light: white;
$dark: black;

$size-sm: 10px;
$size-md: 15px;
$size-xl: 20px;
$size-xxl: 30px;

.d-flex{
    display: flex;
    margin: 0 auto;
    margin-top: $size-xxl;
    margin-bottom: $size-xxl;
}

.gap{
    gap: 15px;
}
.btn{
    border:none;
    cursor: pointer;
    padding: $size-sm $size-md;
    border-radius: $size-sm - 4;
    color: $light;

    &:hover{
        transition: 0.3s;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    } 

    &.btn-outline-primary{
        background-color: transparent; 
        border: 1px solid $primary;
        color: $primary;
        &:hover{
             background-color: $primary;
             color: $light;
        }
   }
   &.btn-primary{ 
        background-color:$primary;
        &:hover{
          box-shadow: 0px 2px 80px 5px $primary;
        }

   }
   &.btn-outline-secondary{
    background-color: transparent; 
    border: 1px solid $secondary;
    color: $secondary;
    &:hover{
         background-color: $secondary;
         color: $light;
     }
}


   &.btn-secondary{
        background-color:$secondary;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-success{
    background-color: transparent; 
    border: 1px solid $success;
    color: $success;
    &:hover{
         background-color: $success;
         color: $light;
     }
}
   &.btn-success{
        background-color: $success;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-dangery{
    background-color: transparent; 
    border: 1px solid $danger;
    color: $danger;
    &:hover{
         background-color: $danger;
         color: $light;
    }
}
   &.btn-danger{
        background-color: $danger;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-warning{
    background-color: transparent; 
    border: 1px solid $warning;
    color: $warning;;
    &:hover{
         background-color: $warning;
         color: $light;
    }
}
   &.btn-warning{
        background-color: $warning;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-info{
    background-color: transparent; 
    border: 1px solid info;
    color: $info;
    &:hover{
         background-color: $imfo;
         color: $light;
    }
}
   &.btn-info{
        background-color: $info;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-light{
    background-color: transparent; 
    border: 1px solid $light;
    color: $light;
    &:hover{
         background-color: $light;
         color: $black;
}
   }
   &.btn-light{
        background-color: $light;
        color: $dark;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-outline-dark{
    background-color: transparent; 
    border: 1px solid $dark;
    color: $dark;
    &:hover{
         background-color: $dark;
         color: $light;
}
   }
   &.btn-dark{
        background-color: $dark;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
  
}

.mt-20{
     margin-top: 30px;
}

