$primary: blue;
$secondary: grey;
$success: green;
$danger: red;
$warning: yellow;
$info:   skyblue;
$light: white;
$dark: black;

$size-sm: 10px;
$size-md: 15px;
$size-xl: 20px;
$size-xxl: 30px;

.d-flex{
    display: flex;
    margin: 0 auto;
    margin-top: $size-xxl;
    margin-bottom: $size-xxl;
}

.gap{
    gap: 15px;
}
.btn{
    border:none;
    cursor: pointer;
    padding: $size-sm $size-md;
    border-radius: $size-sm - 4;
    color: $light;

    &.btn-primary{
        background-color: $primary;
        &:hover{
             box-shadow: 0px 2px 80px 5px $secondary;
        }
   }
   &.btn-secondary{
        background-color:$secondary;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-success{
        background-color: $success;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-danger{
        background-color: $danger;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-warning{
        background-color: $warning;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-info{
        background-color: $info;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-light{
        background-color: $light;
        color: $dark;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
   &.btn-dark{
        background-color: $dark;
        &:hover{
            box-shadow: 0px 2px 80px 5px $secondary;
       }
   }
  
}




