@import "../../assets/utillities/mixin";

.btn{
    @include btn-default();
    &.btn-primary{
        background-color:$primary;
    }
    &.btn-success{
        background-color: $success;
    }
    &.btn-danger{
        background-color: $danger;
    }
}