@import '../utilities/mixin';
@import '../utilities/function';
@import '../utilities/variable';
.btn-flat{
     @include btn-default();
     padding: pxtoremconvertor(12)  pxtoremconvertor(20);
     &:is(.btn-rounded){
         padding: pxtoremconvertor(14) ;
         border-radius: pxtoremconvertor(60);
}    
     &:is(.btn-md){
          padding: pxtoremconvertor(8) pxtoremconvertor(16);
     }   
     
     &:hover{
          box-shadow: 2px 2px 4px rgba(0,0,0,.6);
     }

}
