/* flex, grid, table, none, inline-block, inline, block, content, inline-flex, */

/* flex 
    justify-content
    align-items
    vertical-align, (deprecated)
    gap
    flex-wrap
*/
/* .row:after{
    content: '';
    display: table;
    clear: both;
}
.col-md-3{
    width: 25%;
    float: left;
} */

/* @media(min-width: 320px) and (max-width: 767px){
    .col-md-3{
        width: 100%;
        float: left;
    }
}
@media(min-width: 640px) and (max-width: 940px){
    .col-md-3{
        width: 50%;
        float: left;
    }
}
@media(min-width: 940px) and (max-width: 1210px){
    .col-md-3{
        width: 33.333%;
        float: left;
    }
}
@media(min-width: 1210px) and (max-width: 1400px){
    .col-md-3{
        width: 25%;
        float: left;
    }
} */

/* 
.box{
    background-color: red;
    height: 300px;
    width: 300px;
    animation-name: flip;
    animation-delay: 2s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes flip{
    from{
        transform: translateX(0px);
    }
    to{
        transform: translateX(80px);
    }
} */

/* .box{
    background-color: red;
    height: 300px;
    width: 300px;
    
    transform: translate(50px);
} */

.box{
    background-image: linear-gradient(45deg, red, green, blue);
    height: 300px;
    width: 300px;
    
    transform: translate(50px);
}

h1{
    color: transparent;
    font-size: 60px;
    background-image: linear-gradient(orange, lightblue, red);
    -webkit-background-clip: text;
}