.badge-primary {
  background-color: rgb(28, 82, 244);
  color: white;
}
.badge-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}
.badge-primary:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary {
  background-color: rgb(28, 82, 244);
  color: white;
}
.btn-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.btn-outline-primary {
  background-color: rgb(28, 82, 244);
  border: 2px solid rgb(28, 82, 244);
}
.btn-outline-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.btn-inset-outline-primary {
  border: 2px inset rgb(28, 82, 244);
  background-color: rgb(28, 82, 244);
}
.btn-inset-outline-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
  color: white;
}
.badge-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}
.badge-primary-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary-mid {
  background-color: rgb(62, 110, 255);
  color: white;
}
.btn-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.btn-outline-primary-mid {
  background-color: rgb(62, 110, 255);
  border: 2px solid rgb(62, 110, 255);
}
.btn-outline-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.btn-inset-outline-primary-mid {
  border: 2px inset rgb(62, 110, 255);
  background-color: rgb(62, 110, 255);
}
.btn-inset-outline-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
  color: white;
}
.badge-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}
.badge-primary-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary-light {
  background-color: rgb(102, 138, 248);
  color: white;
}
.btn-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.btn-outline-primary-light {
  background-color: rgb(102, 138, 248);
  border: 2px solid rgb(102, 138, 248);
}
.btn-outline-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.btn-inset-outline-primary-light {
  border: 2px inset rgb(102, 138, 248);
  background-color: rgb(102, 138, 248);
}
.btn-inset-outline-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.badge-success {
  background-color: rgb(0, 139, 14);
  color: white;
}
.badge-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}
.badge-success:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success {
  background-color: rgb(0, 139, 14);
  color: white;
}
.btn-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.btn-outline-success {
  background-color: rgb(0, 139, 14);
  border: 2px solid rgb(0, 139, 14);
}
.btn-outline-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.btn-inset-outline-success {
  border: 2px inset rgb(0, 139, 14);
  background-color: rgb(0, 139, 14);
}
.btn-inset-outline-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.badge-success-mid {
  background-color: rgb(38, 204, 55);
  color: white;
}
.badge-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}
.badge-success-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success-mid {
  background-color: rgb(38, 204, 55);
  color: white;
}
.btn-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.btn-outline-success-mid {
  background-color: rgb(38, 204, 55);
  border: 2px solid rgb(38, 204, 55);
}
.btn-outline-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.btn-inset-outline-success-mid {
  border: 2px inset rgb(38, 204, 55);
  background-color: rgb(38, 204, 55);
}
.btn-inset-outline-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.badge-success-light {
  background-color: rgb(113, 255, 127);
  color: white;
}
.badge-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}
.badge-success-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success-light {
  background-color: rgb(113, 255, 127);
  color: white;
}
.btn-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.btn-outline-success-light {
  background-color: rgb(113, 255, 127);
  border: 2px solid rgb(113, 255, 127);
}
.btn-outline-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.btn-inset-outline-success-light {
  border: 2px inset rgb(113, 255, 127);
  background-color: rgb(113, 255, 127);
}
.btn-inset-outline-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.badge-danger {
  background-color: rgb(186, 26, 26);
  color: white;
}
.badge-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}
.badge-danger:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger {
  background-color: rgb(186, 26, 26);
  color: white;
}
.btn-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.btn-outline-danger {
  background-color: rgb(186, 26, 26);
  border: 2px solid rgb(186, 26, 26);
}
.btn-outline-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.btn-inset-outline-danger {
  border: 2px inset rgb(186, 26, 26);
  background-color: rgb(186, 26, 26);
}
.btn-inset-outline-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.badge-danger-mid {
  background-color: rgb(255, 84, 73);
  color: white;
}
.badge-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}
.badge-danger-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger-mid {
  background-color: rgb(255, 84, 73);
  color: white;
}
.btn-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.btn-outline-danger-mid {
  background-color: rgb(255, 84, 73);
  border: 2px solid rgb(255, 84, 73);
}
.btn-outline-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.btn-inset-outline-danger-mid {
  border: 2px inset rgb(255, 84, 73);
  background-color: rgb(255, 84, 73);
}
.btn-inset-outline-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.badge-danger-light {
  background-color: rgb(255, 180, 171);
  color: white;
}
.badge-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}
.badge-danger-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger-light {
  background-color: rgb(255, 180, 171);
  color: white;
}
.btn-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.btn-outline-danger-light {
  background-color: rgb(255, 180, 171);
  border: 2px solid rgb(255, 180, 171);
}
.btn-outline-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.btn-inset-outline-danger-light {
  border: 2px inset rgb(255, 180, 171);
  background-color: rgb(255, 180, 171);
}
.btn-inset-outline-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.badge-warning {
  background-color: rgb(173, 102, 7);
  color: white;
}
.badge-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}
.badge-warning:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning {
  background-color: rgb(173, 102, 7);
  color: white;
}
.btn-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.btn-outline-warning {
  background-color: rgb(173, 102, 7);
  border: 2px solid rgb(173, 102, 7);
}
.btn-outline-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.btn-inset-outline-warning {
  border: 2px inset rgb(173, 102, 7);
  background-color: rgb(173, 102, 7);
}
.btn-inset-outline-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.badge-warning-mid {
  background-color: rgb(235, 153, 63);
  color: white;
}
.badge-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}
.badge-warning-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning-mid {
  background-color: rgb(235, 153, 63);
  color: white;
}
.btn-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.btn-outline-warning-mid {
  background-color: rgb(235, 153, 63);
  border: 2px solid rgb(235, 153, 63);
}
.btn-outline-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.btn-inset-outline-warning-mid {
  border: 2px inset rgb(235, 153, 63);
  background-color: rgb(235, 153, 63);
}
.btn-inset-outline-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.badge-warning-light {
  background-color: rgb(255, 220, 190);
  color: white;
}
.badge-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}
.badge-warning-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning-light {
  background-color: rgb(255, 220, 190);
  color: white;
}
.btn-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.btn-outline-warning-light {
  background-color: rgb(255, 220, 190);
  border: 2px solid rgb(255, 220, 190);
}
.btn-outline-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.btn-inset-outline-warning-light {
  border: 2px inset rgb(255, 220, 190);
  background-color: rgb(255, 220, 190);
}
.btn-inset-outline-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.badge-secondary {
  background-color: rgb(89, 97, 115);
  color: white;
}
.badge-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}
.badge-secondary:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary {
  background-color: rgb(89, 97, 115);
  color: white;
}
.btn-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.btn-outline-secondary {
  background-color: rgb(89, 97, 115);
  border: 2px solid rgb(89, 97, 115);
}
.btn-outline-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.btn-inset-outline-secondary {
  border: 2px inset rgb(89, 97, 115);
  background-color: rgb(89, 97, 115);
}
.btn-inset-outline-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.badge-secondary-mid {
  background-color: rgb(146, 154, 171);
  color: white;
}
.badge-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}
.badge-secondary-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary-mid {
  background-color: rgb(146, 154, 171);
  color: white;
}
.btn-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.btn-outline-secondary-mid {
  background-color: rgb(146, 154, 171);
  border: 2px solid rgb(146, 154, 171);
}
.btn-outline-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.btn-inset-outline-secondary-mid {
  border: 2px inset rgb(146, 154, 171);
  background-color: rgb(146, 154, 171);
}
.btn-inset-outline-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.badge-secondary-light {
  background-color: rgb(215, 218, 224);
  color: white;
}
.badge-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}
.badge-secondary-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary-light {
  background-color: rgb(215, 218, 224);
  color: white;
}
.btn-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.btn-outline-secondary-light {
  background-color: rgb(215, 218, 224);
  border: 2px solid rgb(215, 218, 224);
}
.btn-outline-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.btn-inset-outline-secondary-light {
  border: 2px inset rgb(215, 218, 224);
  background-color: rgb(215, 218, 224);
}
.btn-inset-outline-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.badge-primary {
  background-color: rgb(28, 82, 244);
  color: white;
}
.badge-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}
.badge-primary:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary {
  background-color: rgb(28, 82, 244);
  color: white;
}
.btn-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.btn-outline-primary {
  background-color: rgb(28, 82, 244);
  border: 2px solid rgb(28, 82, 244);
}
.btn-outline-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.btn-inset-outline-primary {
  border: 2px inset rgb(28, 82, 244);
  background-color: rgb(28, 82, 244);
}
.btn-inset-outline-primary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(28, 82, 244);
  color: rgb(28, 82, 244);
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
  color: white;
}
.badge-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}
.badge-primary-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary-mid {
  background-color: rgb(62, 110, 255);
  color: white;
}
.btn-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.btn-outline-primary-mid {
  background-color: rgb(62, 110, 255);
  border: 2px solid rgb(62, 110, 255);
}
.btn-outline-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.btn-inset-outline-primary-mid {
  border: 2px inset rgb(62, 110, 255);
  background-color: rgb(62, 110, 255);
}
.btn-inset-outline-primary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(62, 110, 255);
  color: rgb(62, 110, 255);
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
  color: white;
}
.badge-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}
.badge-primary-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-primary-light {
  background-color: rgb(102, 138, 248);
  color: white;
}
.btn-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.btn-outline-primary-light {
  background-color: rgb(102, 138, 248);
  border: 2px solid rgb(102, 138, 248);
}
.btn-outline-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.btn-inset-outline-primary-light {
  border: 2px inset rgb(102, 138, 248);
  background-color: rgb(102, 138, 248);
}
.btn-inset-outline-primary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(102, 138, 248);
  color: rgb(102, 138, 248);
}

.badge-success {
  background-color: rgb(0, 139, 14);
  color: white;
}
.badge-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}
.badge-success:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success {
  background-color: rgb(0, 139, 14);
  color: white;
}
.btn-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.btn-outline-success {
  background-color: rgb(0, 139, 14);
  border: 2px solid rgb(0, 139, 14);
}
.btn-outline-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.btn-inset-outline-success {
  border: 2px inset rgb(0, 139, 14);
  background-color: rgb(0, 139, 14);
}
.btn-inset-outline-success:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(0, 139, 14);
  color: rgb(0, 139, 14);
}

.badge-success-mid {
  background-color: rgb(38, 204, 55);
  color: white;
}
.badge-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}
.badge-success-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success-mid {
  background-color: rgb(38, 204, 55);
  color: white;
}
.btn-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.btn-outline-success-mid {
  background-color: rgb(38, 204, 55);
  border: 2px solid rgb(38, 204, 55);
}
.btn-outline-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.btn-inset-outline-success-mid {
  border: 2px inset rgb(38, 204, 55);
  background-color: rgb(38, 204, 55);
}
.btn-inset-outline-success-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(38, 204, 55);
  color: rgb(38, 204, 55);
}

.badge-success-light {
  background-color: rgb(113, 255, 127);
  color: white;
}
.badge-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}
.badge-success-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-success-light {
  background-color: rgb(113, 255, 127);
  color: white;
}
.btn-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.btn-outline-success-light {
  background-color: rgb(113, 255, 127);
  border: 2px solid rgb(113, 255, 127);
}
.btn-outline-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.btn-inset-outline-success-light {
  border: 2px inset rgb(113, 255, 127);
  background-color: rgb(113, 255, 127);
}
.btn-inset-outline-success-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(113, 255, 127);
  color: rgb(113, 255, 127);
}

.badge-danger {
  background-color: rgb(186, 26, 26);
  color: white;
}
.badge-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}
.badge-danger:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger {
  background-color: rgb(186, 26, 26);
  color: white;
}
.btn-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.btn-outline-danger {
  background-color: rgb(186, 26, 26);
  border: 2px solid rgb(186, 26, 26);
}
.btn-outline-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.btn-inset-outline-danger {
  border: 2px inset rgb(186, 26, 26);
  background-color: rgb(186, 26, 26);
}
.btn-inset-outline-danger:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(186, 26, 26);
  color: rgb(186, 26, 26);
}

.badge-danger-mid {
  background-color: rgb(255, 84, 73);
  color: white;
}
.badge-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}
.badge-danger-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger-mid {
  background-color: rgb(255, 84, 73);
  color: white;
}
.btn-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.btn-outline-danger-mid {
  background-color: rgb(255, 84, 73);
  border: 2px solid rgb(255, 84, 73);
}
.btn-outline-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.btn-inset-outline-danger-mid {
  border: 2px inset rgb(255, 84, 73);
  background-color: rgb(255, 84, 73);
}
.btn-inset-outline-danger-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 84, 73);
  color: rgb(255, 84, 73);
}

.badge-danger-light {
  background-color: rgb(255, 180, 171);
  color: white;
}
.badge-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}
.badge-danger-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-danger-light {
  background-color: rgb(255, 180, 171);
  color: white;
}
.btn-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.btn-outline-danger-light {
  background-color: rgb(255, 180, 171);
  border: 2px solid rgb(255, 180, 171);
}
.btn-outline-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.btn-inset-outline-danger-light {
  border: 2px inset rgb(255, 180, 171);
  background-color: rgb(255, 180, 171);
}
.btn-inset-outline-danger-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 180, 171);
  color: rgb(255, 180, 171);
}

.badge-warning {
  background-color: rgb(173, 102, 7);
  color: white;
}
.badge-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}
.badge-warning:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning {
  background-color: rgb(173, 102, 7);
  color: white;
}
.btn-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.btn-outline-warning {
  background-color: rgb(173, 102, 7);
  border: 2px solid rgb(173, 102, 7);
}
.btn-outline-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.btn-inset-outline-warning {
  border: 2px inset rgb(173, 102, 7);
  background-color: rgb(173, 102, 7);
}
.btn-inset-outline-warning:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(173, 102, 7);
  color: rgb(173, 102, 7);
}

.badge-warning-mid {
  background-color: rgb(235, 153, 63);
  color: white;
}
.badge-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}
.badge-warning-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning-mid {
  background-color: rgb(235, 153, 63);
  color: white;
}
.btn-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.btn-outline-warning-mid {
  background-color: rgb(235, 153, 63);
  border: 2px solid rgb(235, 153, 63);
}
.btn-outline-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.btn-inset-outline-warning-mid {
  border: 2px inset rgb(235, 153, 63);
  background-color: rgb(235, 153, 63);
}
.btn-inset-outline-warning-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(235, 153, 63);
  color: rgb(235, 153, 63);
}

.badge-warning-light {
  background-color: rgb(255, 220, 190);
  color: white;
}
.badge-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}
.badge-warning-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-warning-light {
  background-color: rgb(255, 220, 190);
  color: white;
}
.btn-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.btn-outline-warning-light {
  background-color: rgb(255, 220, 190);
  border: 2px solid rgb(255, 220, 190);
}
.btn-outline-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.btn-inset-outline-warning-light {
  border: 2px inset rgb(255, 220, 190);
  background-color: rgb(255, 220, 190);
}
.btn-inset-outline-warning-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 190);
  color: rgb(255, 220, 190);
}

.badge-secondary {
  background-color: rgb(89, 97, 115);
  color: white;
}
.badge-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}
.badge-secondary:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary {
  background-color: rgb(89, 97, 115);
  color: white;
}
.btn-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.btn-outline-secondary {
  background-color: rgb(89, 97, 115);
  border: 2px solid rgb(89, 97, 115);
}
.btn-outline-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.btn-inset-outline-secondary {
  border: 2px inset rgb(89, 97, 115);
  background-color: rgb(89, 97, 115);
}
.btn-inset-outline-secondary:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(89, 97, 115);
  color: rgb(89, 97, 115);
}

.badge-secondary-mid {
  background-color: rgb(146, 154, 171);
  color: white;
}
.badge-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}
.badge-secondary-mid:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary-mid {
  background-color: rgb(146, 154, 171);
  color: white;
}
.btn-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.btn-outline-secondary-mid {
  background-color: rgb(146, 154, 171);
  border: 2px solid rgb(146, 154, 171);
}
.btn-outline-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.btn-inset-outline-secondary-mid {
  border: 2px inset rgb(146, 154, 171);
  background-color: rgb(146, 154, 171);
}
.btn-inset-outline-secondary-mid:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(146, 154, 171);
  color: rgb(146, 154, 171);
}

.badge-secondary-light {
  background-color: rgb(215, 218, 224);
  color: white;
}
.badge-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}
.badge-secondary-light:is(.rounded) {
  border-radius: 0.375rem;
}

.btn-secondary-light {
  background-color: rgb(215, 218, 224);
  color: white;
}
.btn-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.btn-outline-secondary-light {
  background-color: rgb(215, 218, 224);
  border: 2px solid rgb(215, 218, 224);
}
.btn-outline-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.btn-inset-outline-secondary-light {
  border: 2px inset rgb(215, 218, 224);
  background-color: rgb(215, 218, 224);
}
.btn-inset-outline-secondary-light:is(.is-outline) {
  background-color: transparent;
  border: 2px solid rgb(215, 218, 224);
  color: rgb(215, 218, 224);
}

.btn-flat {
  margin: 0.3125rem 0;
  border-radius: 6.25rem;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}
.btn-flat:is(.btn-rounded) {
  padding: 0.875rem;
  border-radius: 3.75rem;
}
.btn-flat:is(.btn-md) {
  padding: 0.5rem 1rem;
}
.btn-flat:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}/*# sourceMappingURL=button.css.map */