$primary: rgba(29, 25, 212, 0.86);
$secondary: rgba(0, 0, 0, 0.5);
$success:rgba(60, 130, 76, 1);
$danger:rgba(212, 25, 25, 0.86);
$warning:rgba(215, 196, 27, 1);
$info:rgba(25, 190, 212, 1);
$light:white;
$dark:rgba(11, 11, 16, 1);

$size-sm:15px;
$size-md:20px;

.btn{
     padding:$size-sm $size-md ;
     border: none;
     border-radius: 4px;
     color:$light;
     &:hover{
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     }
     &.btn-primary{
          background-color: $primary;
     }
     &.btn-secondary{
          background-color: $secondary;
     }
     &.btn-success{
          background-color: $success;
     }
     &.btn-danger{
          background-color: $danger;
     }
     &.btn-warning{
          background-color: $warning;
     }
     &.btn-info{
          background-color: $info;
     }
     &.btn-light{
          background-color: light;
          color: $dark;
     }
     &.btn-dark{
          background-color: $dark;
     }
}

