@import '../assets/components/button/button.css';
@import './components/card/card.css';
@import './utilities/mixin';

header, section{
       background-color: $light-pink;
    
}
.alert{
       border: none !important;
}
.icon{
       height: 30px;
       width: 138px;
}
.number{
       text-decoration: none;
       color: $green;
       background-color: white;
       &:hover{
              background-color:$green !important;
              color: white;
              transition: 0.5s;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -ms-transition: 0.5s;
              -o-transition: 0.5s;
}
}
.link{
       color:black;
       text-decoration: none;
       padding: 8px;
       
       &:hover{
              color: green;
              transition: 0.2s;
}
}
.line-gradient{
       background: linear-gradient(45deg, $yellow,green )
}
.btn-green{
       background-color: green !important;
       color: white !important;
       &:hover{
              background-color: transparent !important;
              color: $green !important;
              transition: .5s;
              border: 1px solid $green !important;
}
}
footer{
       background-color: $nav;
}
.success:hover{
       color: $light-green;
}
.logo{
       width:150px;
       height: 37px;
}
.image{
       width: 70px;
       height: 70px;
}
// @media (min-width:320px),(max-width:480px){
//        .responsive{
//               .col-md-6{
//                      width: 100%;
                    
//               }
//        }
// }

.move{
       position: absolute;
       top: 100% !important;
    left: 70px;
}
$bgcolor:(
     'red':$red,
     'purple':$purple,
     'sky':$sky,
     'light-green':$light-green,
);

@each $color-name, $color-value in $bgcolor{
     .circle-#{$color-name}{
          border: 1px dashed $color-value;
          color: $color-value;
     }
}
