/* .caruser-pro{
    background-image: url("https://stimg.cardekho.com/images/uploadimages/1738232035073/01_Kia-Syros_CD-MasterHead-Desktop_1686x548px.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 566px;
} */