*{
    margin: 0;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
            thead{
                th{
                    background-color: black;
                    color: white;
                }
            }
        }
        tr,th,td{
            border: 1px solid black;
            padding: 10px;
        }
        tr:nth-child(even){
                background-color: skyblue;
                color: black;
        }
        tr:nth-child(odd){
                background-color:lightblue;
                color: black;
        }
