@import '../utilities/variable';
 
@function pxtorem($getSize, $baseSize:16){
     @return $getSize / $baseSize * 1rem;
}

$bgcolor:(
     'error':$error-1,
     'error-mid':$error-25,
     'error-light':$error-50,
     'disable':$disable,
);

@each $color-name, $color-value in $bgcolor{
     .btn-#{$color-name}{
          background-color: $color-value;
          color:$light;
          &:hover{
               box-shadow: 2px 2px 4px rgba(0,0,0,.6);
          }
          
          &:is(.is-outline){
               background-color: transparent;
               color: $color-value;
               border: 2px solid $color-value;
               &:hover{
                    background-color: $color-value;
                    color: $light;
               }
          }
          &:is(.is-inset){
               border:2px inset $color-value;
          }
         
     }
}
