@import '../../variable/variable';
@import '../../mixin/mixin';
@import '../../function/function';

.btn-default{
    @include btn(pxtorem(10) pxtorem(20), pxtorem(4));

    &.btn-primary{
        background-color: $primary;
    }

}

.btn-large{
    @include btn(pxtorem(20) pxtorem(30), pxtorem(6));

    &.btn-primary{
        background-color: $primary;
    }
}

.btn-small{
    @include btn(pxtorem(5) pxtorem(10), pxtorem(2));
    
    &.btn-primary{
        background-color: $primary;
    }
}