.btn-flat {
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
  border: none;
  border-radius: 100px;
  padding: 0.75rem 1.25rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-flat:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-flat:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 15px;
}
.btn-flat.btn-primary {
  background-color: rgb(28, 82, 244);
}

.btn-flat-md {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-flat-md:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-flat-md:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-flat-md.btn-primary {
  background-color: rgb(28, 82, 244);
}

.btn-flat-sm {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 100px;
  padding: 0.25rem 0.75rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-flat-sm:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-flat-sm:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-flat-sm.btn-primary {
  background-color: rgb(28, 82, 244);
}

.btn-outline {
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
  border: none;
  border-radius: 100px;
  padding: 0.75rem 1.25rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-outline:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-outline:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 15px;
}
.btn-outline.btn-primary {
  background-color: rgb(62, 110, 255);
  border: 0.125rem solid white;
}
.btn-outline.btn-default {
  background-color: grey;
}

.btn-outline-md {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-outline-md:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-outline-md:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-outline-md.btn-primary {
  background-color: rgb(62, 110, 255);
  border: 0.125rem solid white;
}
.btn-outline-md.btn-default {
  background-color: grey;
}

.btn-outline-sm {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 100px;
  padding: 0.25rem 0.75rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-outline-sm:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-outline-sm:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-outline-sm.btn-primary {
  background-color: rgb(62, 110, 255);
  border: 0.125rem solid white;
}
.btn-outline-sm.btn-default {
  background-color: grey;
}

.btn-inset-outline {
  color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 1rem;
  border: none;
  border-radius: 100px;
  padding: 0.75rem 1.25rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-inset-outline:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-inset-outline:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 15px;
}
.btn-inset-outline.btn-primary {
  background-color: rgb(102, 138, 248);
  border: 0.125rem inset white;
}

.btn-inset-outline-md {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 100px;
  padding: 0.5rem 1rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-inset-outline-md:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-inset-outline-md:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-inset-outline-md.btn-primary {
  background-color: rgb(102, 138, 248);
  border: 0.125rem inset white;
}

.btn-inset-outline-sm {
  color: white;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 100px;
  padding: 0.25rem 0.75rem;
  margin: 0.3125rem 0;
  cursor: pointer;
}
.btn-inset-outline-sm:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.btn-inset-outline-sm:is(.icon-btn) {
  border-radius: 100%;
  padding: 10px 12px;
}
.btn-inset-outline-sm.btn-primary {
  background-color: rgb(102, 138, 248);
  border: 0.125rem inset white;
}/*# sourceMappingURL=button.css.map */