@import '../../assets/utilities/mixing.scss';

.btn{
    @include btn-default();
   
 
    &.btn-danger{
        background-color:$danger;
        padding: convert(16) covert(12);
        width: convert(93);
        height: convert(48);
    }
    &.btn-secondary{
        background-color: $danger;
        padding: convert(16) covert(12);
        width: convert(121);
        height: convert(48);
    }
    
}