@import '../utilities/variable';
@import '../utilities/function';

@mixin card-default(){
     padding: pxtorem(10);
     border-radius: pxtorem(12);
     border: 1px solid $secondary;
    margin: pxtorem(5) 0;
}
@mixin btn-default(){
     padding: pxtorem(10) pxtorem(20);
     border-radius: pxtorem(60);
     color: $light;
     border:none;
     cursor: pointer;
}