@import '../../mixin/mixin';
@import '../../variable/variable';
@import '../../function/function';

.card{
    @include card($dark, pxtorem(300));
    &.card-primary{
        @include card-background($primary, $light)
    }
    &.card-secondary{
        @include card-background($secondary, $light)
    }
    &.card-warning{
        @include card-background($warning, $light)
    }
    &.card-success{
        @include card-background($success, $light)
    }
    &.card-info{
        @include card-background($info, $light)
    }
    &.card-danger{
        @include card-background($danger, $light)
    }
    &.card-dark{
        @include card-background($dark, $light)
    }
    &.card-light{
        @include card-background($light, $dark)
    }

.bg-mix{
    background-color: mix($primary,$warning,50%);
}
.bg-primary{background-color: $primary;}
.bg-primary-25{background-color: lighten($primary,25%);}
.bg-primary-50{background-color: lighten($primary,30%);}
.bg-primary-75{background-color: lighten($primary,40%);}
}