@import '../../assets/utilities/mixin';

.card{
     @include card-default();
     width:pxtoremconvertor(300);
     &.card-primary{
          background-color: $primary;
          color: $light;
          border-radius: pxtoremconvertor(8);
}
}