@import '../utilities/variable';
@import '../utilities/mixing';
@import '../utilities/function';

.btn-flat{
     @include btn-default();
     padding: 12px  20px;
     &:is(.btn-rounded){
         padding: 14px;
         border-radius: 60px;
}    
     &:is(.btn-md){
          padding: 8px 16px;
     }   
     
     &:hover{
          box-shadow: 2px 2px 4px rgba(0,0,0,.6);
     }

}