$primary:#9ec5fe;
$secondary: #e2e3e5;
$success:#a3cfbb;
$danger:#f1aeb5;
$warning:#ffe69c;
$info:#9eeaf9;
$light:#e9ecef;
$dark:#495057;


.Alert{
    text-align: center;
    color: transparent;
    background-image: linear-gradient(pink, skyblue);
    -webkit-background-clip: text;
}
.alert{
    padding: 16px;
    margin: 16px; 
    border: 4px;

    &.alert-primary{
        color: #052c65;
        background-color:$primary;
        border: 1px solid $primary;
    }

    &.alert-secondary{
        color:  #2b2f32;
        background-color:$secondary;
        border: 1px solid $secondary;
    }

    &.alert-success{
        color:#0a3622;
        background-color:$success;
        border: 1px solid $success;
    }

    &.alert-danger{
        color:#58151c;
        background-color:$danger;
        border: 1px solid $danger;
    }

    &.alert-warning{
        color:#664d03;
        background-color:$warning;
        border: 1px solid $warning;
    }

    &.alert-info{
        color:#055160;
        background-color:$info;
        border: 1px solid $info;
    }

    &.alert-light{
        color:#495057;
        background-color:$light;
        border: 1px solid $light;
    }

    &.alert-dark{
        color:$light;
        background-color:$dark;
        border: 1px solid $dark;
    }

    &.alert-dark{

    }
}
