*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.bg-imge{
    background-image:url('https://tse4.mm.bing.net/th?id=OIP.q3C2aClWb662agK4PdPmhQAAAA&pid=Api&P=0&h=220') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 400px;
    
}
.white{
    color: white;
    font-size: 30px;
}
.gold{
    color:gold;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
}
.gold-1{
    color: gold;
    text-align: end;
   
}
.top{
    
    margin-right: 50px;
}
.end{
    text-align: end;
    margin-right: 30px;
}
.gold-2{
    color: gold;
    font-size: 30px;
 
   
}