*{
    border: none;
}
$primary: #1D19D4DB;
$secondary:#00000080;
$success: #3C824C;
$danger: #D41919DB;
$warning: #D7C41B;
$info: #19BED4;
$light: #00000003;
$dark: #0B0B10;
$white:white;
$size-sm:10px;
$size-md:15px;
$size-xl:20px;
$size-xxl:30px;
.btn{
    padding: $size-sm $size-xl;
    border: none;
    border-radius: $size-sm - 6;
    color: $white;
    &:hover{
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
    }

&.btn-primary{
    background-color: $primary;
}
&.btn-outline-primary{
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
    &:hover{
         background-color: $primary;
         color: $white;
    }
}
&.btn-secondary{
    background-color: $secondary;
}
&.btn-outline-secondary{
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
    &:hover{
         background-color: $secondary;
         color: $white;
    }
}
&.btn-Success{
    background-color: $success;
}
&.btn-outline-success{
    background-color: transparent;
    color: $success;
    border: 1px solid $success;
    &:hover{
         background-color: $success;
         color: $white;
    }
}
&.btn-Danger{
    background-color: $danger;
}
&.btn-outline-danger{
    background-color: transparent;
    color: $danger;
    border: 1px solid $danger;
    &:hover{
         background-color: $danger;
         color: $white;
    }
}
&.btn-Warning{
    background-color: $warning;
}
&.btn-outline-warning{
    background-color: transparent;
    color: $warning;
    border: 1px solid $warning;
    &:hover{
         background-color: $warning;
         color: $white;
    }
}
&.btn-info{
    background-color: $info;
}
&.btn-outline-info{
    background-color: transparent;
    color: $info;
    border: 1px solid $info;
    &:hover{
         background-color: $info;
         color: $white;
    }
}
&.btn-light{
    background-color: $light;
    color: black;
}
&.btn-outline-light{
    background-color: transparent;
    color: $light;
    border: 1px solid $light;
    &:hover{
         background-color: $white;
         color: $dark;
    }
}
&.btn-dark{
    background-color: $dark;
}
&.btn-outline-dark{
    background-color: transparent;
    color: $dark;
    border: 1px solid $dark;
    &:hover{
         background-color: $dark;
         color: $white;
    }
}
}
.badge{
    padding: $size-sm - 5 $size-xl;
    border: none;
    border-radius: $size-xxl + 30;
    color: $white;
}
.text-bg-primary{
    background-color: $primary;
}
.text-outline-primary{
    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;
}
.text-bg-secondary{
    background-color: $secondary;
}
.text-outline-secondary{
    background-color: transparent;
    color: $secondary;
    border: 1px solid $secondary;
}
.text-bg-success{
    background-color: $success;
}
.text-outline-success{
    background-color: transparent;
    color: $success;
    border: 1px solid $success;
}
.text-bg-danger{
    background-color: $danger;
}
.text-outline-danger{
    background-color: transparent;
    color: $danger;
    border: 1px solid $danger;
}
.text-bg-warning{
    background-color: $warning;
}
.text-outline-warning{
        background-color: transparent;
        color: $warning;
        border: 1px solid $warning;
}
.text-bg-info{
    background-color: $info;
}
.text-outline-info{
    background-color: transparent;
    color: $info;
    border: 1px solid $info;
}
.text-bg-light{
    background-color: $white;
    color: $dark;
}
.text-outline-light{
    background-color: transparent;
    color: $dark;
    border: 1px solid $dark;
}
.text-bg-dark{
    background-color: $dark;
}
.text-outline-dark{
    background-color: transparent;
    color: $dark;
    border: 1px solid $dark;
}

