@import '../utilities/function';
@import '../utilities/variable';


@mixin btn-default(){
            color: $light;
            border-radius: pxtoremconvertor(100);
            border: none;
            padding: pxtoremconvertor(12)  pxtoremconvertor(20);
            margin-top: 10px;
            margin-bottom: 10px;
}

@mixin btn-default-2(){
    color: $light;
    border: none;
    font-size: pxtoremconvertor(8) pxtoremconvertor(16);
    margin: pxtoremconvertor(5)  0 ;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 100px;
    &:is(.icon-btn){
        border-radius: 100%;
        padding: 10px 12px;
    }
}