@import '../../function/function.scss';
.card{
     padding: pxtoremconvertor(15);
     box-shadow: 0,4px,4px,rgba(0,0,0,.3);
     border-radius: pxtoremconvertor(8);
     width: pxtoremconvertor(300);
}