.badge-success {
  background-color: #008B0E;
  margin: 1.25rem 0.625rem;
}
.badge-success:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #008B0E;
  color: #008B0E;
}

.badge-success-25 {
  background-color: #26CC37;
  margin: 1.25rem 0.625rem;
}
.badge-success-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #26CC37;
  color: #26CC37;
}

.badge-success-50 {
  background-color: #71FF7F;
  margin: 1.25rem 0.625rem;
}
.badge-success-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #71FF7F;
  color: #71FF7F;
}

.badge-warning {
  background-color: #AD6607;
  margin: 1.25rem 0.625rem;
}
.badge-warning:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #AD6607;
  color: #AD6607;
}

.badge-warning-25 {
  background-color: #EB993F;
  margin: 1.25rem 0.625rem;
}
.badge-warning-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #EB993F;
  color: #EB993F;
}

.badge-warning-50 {
  background-color: #FFDCBE;
  margin: 1.25rem 0.625rem;
}
.badge-warning-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FFDCBE;
  color: #FFDCBE;
}

.badge-danger {
  background-color: #BA1A1A;
  margin: 1.25rem 0.625rem;
}
.badge-danger:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #BA1A1A;
  color: #BA1A1A;
}

.badge-danger-25 {
  background-color: #FF5449;
  margin: 1.25rem 0.625rem;
}
.badge-danger-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FF5449;
  color: #FF5449;
}

.badge-danger-50 {
  background-color: #FFB4AB;
  margin: 1.25rem 0.625rem;
}
.badge-danger-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FFB4AB;
  color: #FFB4AB;
}

.badge-primary {
  background-color: #008582;
  margin: 1.25rem 0.625rem;
}
.badge-primary:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #008582;
  color: #008582;
}

.badge-primary-25 {
  background-color: #21BEBA;
  margin: 1.25rem 0.625rem;
}
.badge-primary-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #21BEBA;
  color: #21BEBA;
}

.badge-primary-50 {
  background-color: #91F2EF;
  margin: 1.25rem 0.625rem;
}
.badge-primary-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #91F2EF;
  color: #91F2EF;
}

.badge-secondary {
  background-color: #596173;
  margin: 1.25rem 0.625rem;
}
.badge-secondary:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #596173;
  color: #596173;
}

.badge-secondary-25 {
  background-color: #929AAB;
  margin: 1.25rem 0.625rem;
}
.badge-secondary-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #929AAB;
  color: #929AAB;
}

.badge-secondary-50 {
  background-color: #D7DAE0;
  margin: 1.25rem 0.625rem;
}
.badge-secondary-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #D7DAE0;
  color: #D7DAE0;
}

.badge-success {
  background-color: #008B0E;
  margin: 1.25rem 0.625rem;
}
.badge-success:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #008B0E;
  color: #008B0E;
}

.badge-success-25 {
  background-color: #26CC37;
  margin: 1.25rem 0.625rem;
}
.badge-success-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #26CC37;
  color: #26CC37;
}

.badge-success-50 {
  background-color: #71FF7F;
  margin: 1.25rem 0.625rem;
}
.badge-success-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #71FF7F;
  color: #71FF7F;
}

.badge-warning {
  background-color: #AD6607;
  margin: 1.25rem 0.625rem;
}
.badge-warning:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #AD6607;
  color: #AD6607;
}

.badge-warning-25 {
  background-color: #EB993F;
  margin: 1.25rem 0.625rem;
}
.badge-warning-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #EB993F;
  color: #EB993F;
}

.badge-warning-50 {
  background-color: #FFDCBE;
  margin: 1.25rem 0.625rem;
}
.badge-warning-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FFDCBE;
  color: #FFDCBE;
}

.badge-danger {
  background-color: #BA1A1A;
  margin: 1.25rem 0.625rem;
}
.badge-danger:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #BA1A1A;
  color: #BA1A1A;
}

.badge-danger-25 {
  background-color: #FF5449;
  margin: 1.25rem 0.625rem;
}
.badge-danger-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FF5449;
  color: #FF5449;
}

.badge-danger-50 {
  background-color: #FFB4AB;
  margin: 1.25rem 0.625rem;
}
.badge-danger-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #FFB4AB;
  color: #FFB4AB;
}

.badge-primary {
  background-color: #008582;
  margin: 1.25rem 0.625rem;
}
.badge-primary:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #008582;
  color: #008582;
}

.badge-primary-25 {
  background-color: #21BEBA;
  margin: 1.25rem 0.625rem;
}
.badge-primary-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #21BEBA;
  color: #21BEBA;
}

.badge-primary-50 {
  background-color: #91F2EF;
  margin: 1.25rem 0.625rem;
}
.badge-primary-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #91F2EF;
  color: #91F2EF;
}

.badge-secondary {
  background-color: #596173;
  margin: 1.25rem 0.625rem;
}
.badge-secondary:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #596173;
  color: #596173;
}

.badge-secondary-25 {
  background-color: #929AAB;
  margin: 1.25rem 0.625rem;
}
.badge-secondary-25:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #929AAB;
  color: #929AAB;
}

.badge-secondary-50 {
  background-color: #D7DAE0;
  margin: 1.25rem 0.625rem;
}
.badge-secondary-50:is(.is-outline) {
  background-color: transparent;
  border: 0.0625rem solid #D7DAE0;
  color: #D7DAE0;
}

.badge {
  color: #ffffff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  align-items: center;
  font-size: 0.875rem;
  border: none;
  border-radius: 60px;
  padding: 0.1875rem 0.375rem;
  margin: 0.3125rem 0;
  cursor: pointer;
  color: #ffffff;
  border: none;
  align-items: center;
  font-size: 0.875rem;
  border-radius: 60px;
  padding: 0.1875rem 0.375rem;
  margin: 0.3125rem 0;
  color: #ffffff;
  align-items: center;
  font-size: 0.875rem;
  border: none;
  border-radius: 60px;
  padding: 0.1875rem 0.375rem;
  margin: 0.3125rem 0;
}/*# sourceMappingURL=badges.css.map */