@import '../../utlities/variable';
@import '../../utlities/function';

.btn-flat{
   
    border: none;
    border-radius: pxtorem(8);
    cursor: pointer;
    color: white;
    
    &:not(.btn-sm){
        padding: pxtorem(10) pxtorem(20);
        border-radius: pxtorem(8);
    }
    
    &:is(.btn-sm){
        padding: pxtorem(6) pxtorem(10);
    
    }

    &:is(.is-rounded){
        padding: pxtorem(6) pxtorem(10);
        border-radius: pxtorem(60);
    }
}
