*{
    
    list-style: none;
    text-decoration: none;
   
}
.bg-clr{
    background-color: #ffcc66;
}
.ml-20{
    text-align: center;
}
.section{
    background-image: url('https://www.drinklunar.com/cdn/shop/files/hero_2_1800x.png?v=1619014779');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    
   
}
.brown-clr{
    color: #963c46;
}
.bg-photo{
    background-image: url('//www.drinklunar.com/cdn/shop/files/DSCF1304_a9cd8999-8c01-463c-ab57-6b08d7431dae_600x.jpg?v=1614395735');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-attachment: fixed;
   
}


.bg-brown{
  
    color: #963c46;
    border-color:  #963c46;
    padding: 10px 30px ; 
    border-radius: 6px;
    background-color: #f9f6df;
}
.bg-brown:hover{
    background-color: #963c46 ;
    color: #f9f6df;
    transition: 1s;
}
.pad-ing{
    padding: 20px;
}
.bg-cream{
    background-color: #f9f6df;
}
.center{
   text-decoration: none;
}
.red-clr{
    background-color: red;
}

.fs-40{
    font-size: 60px;
}
.bg-yellow{
    background-color: #ffcc66;
}
.color{
    color: #ffcc66;
}
.btn-1{
    background-color:  #963c46;
    color:  #f9f6df;
    border-radius: 2px;
    border: none;
    padding: 10px 30px;
}
.mt-10{
    margin-top: 120px;
    margin-left: 50px;
}
.line{
    border: 1px solid red;

}
.bg-pink{
    background-color: #f16667;
    padding: 50px;
   
}

.white{
    color: white;
    text-decoration: none;
}
.bg-pad{
    padding: 30px;
}
.ft-28{
    font-size: 20px;

}