@import '../utilities/mixin';
@import '../utilities/variable';
.input-control{
    @include input-default();
     &:is(.normal){
          border: 1px solid rgba(227, 232, 238, 1);
          &:hover{
               border: 1px solid rgba(163, 172, 185, 1);
               box-shadow: 0px 1px 2px 0px rgba(55, 65, 81, 0.08);

          }
          &:focus{
               box-shadow: 0px 0px 0px 1px rgba(108, 142, 239, 1) inset;
               outline: 1px solid $primary;
               box-shadow: 0px 0px 0px 2px rgba(214, 236, 255, 1);

          }
     }
     &:is(.error){
          border: 1px solid $danger;
          &:focus{
               box-shadow: 0px 0px 0px 1px rgba(205, 61, 100, 1) inset;
               outline: 1px solid $danger;
               box-shadow: 0px 0px 0px 2px rgba(253, 226, 221, 1);
               
          }
     }
     &:is(.success){
          border:1px solid $success;
          &:focus{
               box-shadow: 0px 0px 0px 1px rgba(9, 130, 93, 1) inset;
               box-shadow: 0px 0px 0px 2px rgba(203, 244, 201, 1);
               outline:1px solid $success;
          }
     }
}