$primary: #1D19D4;
$secondary: rgb(0, 0, 0, 50%);
$success: #3C824C;
$danger: #D41919;
$info: #19BED4;
$warning: #D7C41B;
$dark: #0B0B10;
$light: #FFFFFF;

.badge{
    padding: 5px 20px;
    border-radius: 60px;
    border: none;
    color: $light;


    &.text-bg-primary{
        background-color: #1D19D4;

    }

    &.text-bg-secondary{
        background-color:  rgb(0, 0, 0, 50%);;
    }

    &.text-bg-success{
        background-color: #3C824C;
    }
    &.text-bg-danger{
        background-color: #D41919;
    }
    &.text-bg-warning{
        background-color: #19BED4;
    }
    &.text-bg-info{
        background-color:  #D7C41B;
    }
    &.text-bg-light{
        background-color: #0B0B10;
    }
    
}