img{
    object-fit: cover;
    width: 100%;
}
body{
    background-image: url(https://png.pngtree.com/background/20210717/original/pngtree-minimalist-abstract-background-portfolio-picture-image_1447430.jpg);
    background-repeat: no-repeat;
}
footer{
    background-color:#086823;
    color: white;
    margin-top: 20px;
}