*{
    
    list-style-type: none;
}

$primary: #1D19D4;
$secondary: rgb(0, 0, 0, 50%);
$success: #3C824C;
$danger: #D41919;
$info: #19BED4;
$primary: #1D19D4;
$warning: #D7C41B;
$dark: #0B0B10;
$light: #FFFFFF;


$size-sm: 10px;
$size-md: 15px;
$size-xl: 20px;
$size-xxl: 30px;

.text{
    text-align: center;
}
.font{
    font-family: "Foldit", sans-serif;
}
.btn{
    padding: $size-sm $size-xl;
    border-radius: $size-sm - 6;
    border: none;
    color: $light;

    &:hover{
        box-shadow:0px 4px 40px 0 rgba(0,0,0, 0.25);
        transition: 0.4s;
    }

    &.btn-outline-primary{
        background-color: transparent;
        color:$primary;
        border: 1px solid $primary;
    }

    &:hover{
        background-color: $primary;
        color: $light;
    }

    &.btn-primary{
        background-color: $primary;
    }

    &.btn-outline-secondary{
        background-color: transparent;
        color:$secondary;
        border: 1px solid $secondary;
    }

    &:hover{
        background-color: $secondary;
        color: $light;
    }

    &.btn-outline-success{
        background-color: transparent;
        color:$success;
        border: 1px solid $success;
    }

    &:hover{
        background-color: $success;
        color: $light;
    }

    &.btn-success{
        background-color: $success;
    }

    &.btn-outline-danger{
        background-color: transparent;
        color: $danger;
        border: 1px solid $danger;

    &:hover{
            background-color: $danger;
            color: $light;
        }

    &.btn-danger{
        background-color: $danger;
    }

    &.btn-outline-warning{
        background-color: transparent;
        color: $warning;
        border: 1px solid $warning;

        &:hover{
            background-color: $warning;
            color: $light;
    }

    &.btn-warning{
        background-color: $warning;
    }

    &.btn-info{
        background-color: $info;
    }

    &.btn-light{
        background-color: $light;
        color: $dark;
    }

    &.btn-dark{
        background-color: $dark;
    }

}