@import '../../variables/variable';
@import '../../mixin/mixin';

.text{
    text-align: center;
}
.font{
    font-family: "Sixtyfour Convergence", sans-serif;
}
.badge{
    @include btn-default();

    &.outline-bg-primary{
        background-color: transparent;
        color:$primary;
        border: 1px solid $primary;
    }
    &.text-bg-primary{
        background-color: $primary;
    }

    &.outline-bg-secondary{
        background-color: transparent;
        color: $secondary;
        border: 1px solid $secondary;
    }
    &.text-bg-secondary{
        background-color: $secondary;
    }

    &.outline-bg-success{
        background-color: transparent;
        color: $success;
        border: 1px solid $success;
    }
    &.text-bg-success{
        background-color: $success;
    }
    &.outline-bg-danger{
        background-color:transparent;
        color: $danger;
        border: 1px solid $danger;
    }
    &.text-bg-danger{
        background-color: $danger;
    }

    &.outline-bg-warning{
        background-color: transparent;
        color:$warning;
        border: 1px solid $warning;
    }
    &.text-bg-warning{
        background-color: $warning;
    }
     
    &.outline-bg-info{
        background-color: transparent;
        color: $info;
        border: 1px solid $info;
    }
    &.text-bg-info{
        background-color: $info;
    }
    &.outline-bg-dark{
        background-color: transparent;
        color: $dark;
        border: 1px solid $dark;
    }
    &.text-bg-dark{
        background-color:$dark;
    }
}