<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
   <div class="d-flex">
    <a href="#"><button class=" btn btn-primary">Primary</button></a>
    <a href="#"><button class=" btn btn-secondary">Secondary</button></a>
    <a href="#"><button class=" btn btn-success">Success</button></a>
    <a href="#"><button class=" btn btn-danger">Danger</button></a>
    <a href="#"><button class=" btn btn-warning">Warning</button></a>
    <a href="#"><button class=" btn btn-info">Info</button></a>
    <a href="#"><button class=" btn btn-light">Light</button></a>
    <a href="#"><button class=" btn btn-dark">Dark</button></a>
   </div>
   <div class="outline-button">
    <a href="#"><button class=" btn btn-outline-primary">Primary</button></a>
    <a href="#"><button class=" btn btn-outline-secondary">Secondary</button></a>
    <a href="#"><button class=" btn btn-outline-success">Success</button></a>
    <a href="#"><button class=" btn btn-outline-danger">Danger</button></a>
    <a href="#"><button class=" btn btn-outline-warning">Warning</button></a>
    <a href="#"><button class=" btn btn-outline-info">Info</button></a>
    <a href="#"><button class=" btn btn-outline-light">Light</button></a>
    <a href="#"><button class=" btn btn-outline-dark">Dark</button></a>
   </div>
</body>
</html>