@import '../../variable/variables';
@import '../../mixin/mixin';



.btn{

    @include btn-dafault();


    &.btn-primary{
        background-color: $color-primary;
    }

    &.btn-outline-primary{
        background-color: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;
    }



}

