@import '../utility/variable';

@function pxtorem($getSize, $baseSize:16){
     @return $getSize / $baseSize * 1rem;
}

$bgColor:(
     'primary':$primary,
     'primary-mid':$primary-25,
     'primary-light':$primary-50,
     'success':$success,
     'success-mid':$success-25,
     'success-light':$success-50,
     'danger':$danger,
     'danger-mid':$danger-25,
     'danger-light':$danger-50,
     'warning':$warning,
     'warning-mid':$warning-25,
     'warning-light':$warning-50,
     'secondary':$secondary,
     'secondary-mid':$secondary-25,
     'secondary-light':$secondary-50,
);

@each $color-name, $color-value in $bgColor{
     .badge-#{$color-name}{
          background-color: $color-value;
          color: $light;
          &:is(.is-outline){
               background-color: transparent;
               border: 2px solid $color-value;
               color: $color-value;
          }
          &:is(.rounded){
               border-radius: pxtorem(6);
               
          }
     }
     .btn-#{$color-name}{
          background-color: $color-value;
          color: $light;
          &:is(.is-outline){
               background-color: transparent;
               border: 2px solid $color-value;
               color: $color-value;
          }
     }
     .btn-outline-#{$color-name}{
          background-color:$color-value;
          border: 2px solid $color-value;
     &:is(.is-outline){
          background-color: transparent;
          border: 2px solid $color-value;
          color: $color-value;
     }
     }
     .btn-inset-outline-#{$color-name}{
     border:2px inset $color-value;
     background-color: $color-value;
     &:is(.is-outline){
          background-color: transparent;
          border: 2px solid $color-value;
          color: $color-value;
     }
     }
}