@import '../utilites/variable';

// Convert px to rem
@function pxtorem($pixcelSize, $baseSize: 16 ){
    @return $pixcelSize / $baseSize * 1rem;
}


// Looping classes
$colors:(
    'input-primary':$primary,
    'input-warning':$warning,
    'input-success':$success,
    'input-natural':$natural,
);

@each $color-name, $color-value in $colors{
    .input-#{$color-name}{
        border:pxtorem(1) solid $color-value !important;
        color: $color-value;
        background-color: transparent;
        margin: pxtorem(15) pxtorem(10);
        padding: pxtorem(10);

        &:hover{
            background-color: $color-value;
            color: $light;
            transition: 0.2s ease-out;
            
        }

        &:is(.input-hover){
            border: pxtorem(2) inset lighten($color-value, 20%);

            &:focus{
                transition: 0.5s;
                border-width: 1px;
            }
        }
        
    }
}

