@import '../variable/variable';
@import '../function/function.scss';
@mixin card-default{
     padding:pxremconverter(10);
    
     box-shadow: 0, 4px, 4px, rgba(0,0,0,0.3);
     border-radius: pxremconverter(14);
     width: pxremconverter(300);
     margin: pxremconverter(40) auto;
     
}
@mixin bgcard($bgColor, $color){
     background-color: $bgColor;
     color: $color;
}
@mixin cardborder($borderColor){
     border: 1px solid $borderColor;
}