@import '../utilities/mixin';

.btn{
     @include btn-default();
     &.btn-dark{
          background-color: $dark;
          &:is(.outline){
               background-color: transparent;
               border:2px solid $dark;
               color: $dark;
          }
     }
}