@import '../utilities/mixin';

.card{
     @include card-default();
     .card-image{
          padding: pxtorem(5);
     }
}
.text-center{
     text-align: center;
}
.text-end{
     text-align: end;
}
.br-2{
     border-radius:pxtorem(20);
     
}
.w-100{
     width: 100px;
}
.w-200{
     width: 130px;
}
.w-50{
     width: 50px;
}
.p-5{
     padding: pxtorem(5);
}
.w-300{
     width: 300px;
}
.d-flex{
     display: flex;
     gap:pxtorem(15);
     align-items: center;
}
.br-100{
     border-radius: 100%;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -ms-border-radius: 100%;
     -o-border-radius: 100%;
}