@import '../../utilies/mixin';
@import '../../utilies/function';
@import '../../utilies/variable';

.btn{
    @include btn-default();

    &.btn-primary{
        background-color: $primary;
        border:  pixtorem(1) solid $light;
    }
    &.btn-info{
        background-color: $info;
        border: pixtorem(1) solid $light;
    }
    &.btn-soft{
        background-color:$soft;
        border: pixtorem(1) solid $light;
    }
}