@import '../utilities/function';

@mixin btn-default(){
    margin: pxtoremconverter(5)0;
    border-radius: pxtoremconverter(100);
    color: $light;
    border: none;
    font-size: pxtoremconverter(16);
    cursor: pointer;
}
@mixin btn-outline-default(){
    border: none;
    font-size:pxtoremconverter(16) ;
    cursor: pointer;
    margin: pxtoremconverter(5)0;
    border-radius: pxtoremconverter(100);
}
