@import '../utilities/function';
@import '../utilities/variable';


@mixin btn-default(){
            color: $light;
            border-radius: pxtoremconvertor(6);
            border: none;
            padding: pxtoremconvertor(3)  pxtoremconvertor(6);
            margin-top: 10px;
            margin-bottom: 10px;
            display: flex;
            gap: 5px;
}