*{
    margin: 0;
}
.modal{
    width: 30%;
    border-radius: 4px;
    background-color: white;
    color: black;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    padding: 10px;
    border: 1px solid gray;
    display: none;
}
.modal h1{
    margin: 20px 0;
}
.btnlogin, .btnsignup{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: none;
}

.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnsignup{
    background-color: transparent;
    color: blueviolet;
}