*{
    margin: 0;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.row,.row-01, .row-04{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.row-01{
    grid-template-columns: repeat(1, 1fr);
}

.row-04{
    grid-template-columns: repeat(4, 1fr);
}
 
.col-2{
    width: 100;
}

.header-menu > ul, .nav-menu >ul{
            display: flex;
            list-style: none;
            gap: 12px;
            padding-left: 0;
}

.header-menu a , .nav-menu a{
    text-decoration: none;
    color: white;
}

header{
    background-color: blueviolet;
    color: white;
    padding: 10px;
}

nav{
    background-color: teal;
    padding: 10px;
}

.nav-menu >ul{
    justify-content: space-between;

}
.section{
    padding: 20px;
}

.product-img{
    width: 200px;
    height: 100px;
}

.product-card{
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 3px red;
    background-color: transparent;
}
.product-cta{
    margin-top: 10px;

}

.button{
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
}
.row-04{
    gap: 10px;
    margin-top: 10px;
}
