.badge-primary {
  background-color: #EFF6FF;
}
.badge-primary.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
}
.badge-primary-mid.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-mid.inset {
  background-color: rgb(62, 110, 255);
  border: 2px inset #a4bbff !important;
  color: #FFFFFF !important;
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
}
.badge-primary-light.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-light.inset {
  background-color: rgb(102, 138, 248);
  border: 2px inset #c8d5fc !important;
  color: #FFFFFF !important;
}

.badge-primary-darker {
  background-color: #929AAB;
}
.badge-primary-darker.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-darker.inset {
  background-color: #929AAB;
  border: 2px inset #cccfd7 !important;
  color: #FFFFFF !important;
}

.badge-warning {
  background-color: #EFF6FF;
}
.badge-warning.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-warning.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.badge-success {
  background-color: #EFF6FF;
}
.badge-success.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-success.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.badge-primary {
  background-color: #EFF6FF;
}
.badge-primary.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
}
.badge-primary-mid.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-mid.inset {
  background-color: rgb(62, 110, 255);
  border: 2px inset #a4bbff !important;
  color: #FFFFFF !important;
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
}
.badge-primary-light.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-light.inset {
  background-color: rgb(102, 138, 248);
  border: 2px inset #c8d5fc !important;
  color: #FFFFFF !important;
}

.badge-primary-darker {
  background-color: #929AAB;
}
.badge-primary-darker.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-darker.inset {
  background-color: #929AAB;
  border: 2px inset #cccfd7 !important;
  color: #FFFFFF !important;
}

.badge-warning {
  background-color: #EFF6FF;
}
.badge-warning.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-warning.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.badge-success {
  background-color: #EFF6FF;
}
.badge-success.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-success.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: #FFFFFF !important;
}

.dark-theme {
  background-color: #161212;
}

.card {
  width: 33.75rem;
  height: 8rem;
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  border: none;
  font-size: 1.125rem;
}


.flex {
  display: flex;
}/*# sourceMappingURL=card.css.map */