$success:#008B0E;
$success-25:#26CC37;
$success-50:#71FF7F;
$warning:#AD6607;
$warning-25:#EB993F;
$warning-50:#FFDCBE;
$danger:#BA1A1A;
$danger-25:#FF5449;
$danger-50:#FFB4AB;
$secondary:#596173;
$secondary-25:#929AAB;
$secondary-50:#D7DAE0;
$primary:#008582;
$primary-25:#21BEBA;
$primary-50:#91F2EF;
$light:#ffffff;
