@import '../variable/variable';
@import '../function/function';

@mixin card($bordercolor,$width){
    padding:  pixtorem(10) pixtorem(16);
    border: pixtorem(1) solid $warning;
    width: pixtorem(500);
    border-radius: pixtorem(4);
}
@mixin card-background($bgcolor,$color){
    background-color: $bgcolor;
    color: $color;
}
 @mixin btn-default(){
        padding:pxtorem(10) pxtorem(16);
        border: pxtorem(1) solid $light;
        border-radius: pxtorem(4);
 }