$danger:red;
$success:green;
$info:skyblue;
$light:white;
$size-sm:10px;
$size-md:15px;
$size-xl:20px;
$size-xxl:30px;
.card{
     padding: $size-xl;
     width: 300px;
     border: 1px solid $danger;
     margin: $size-xxl+10 auto;
}
.title{
     font-size: $size-xxl;
}
.Subtitle{
     font-size: $size-xl;
}
.content{
     font-size: $size-md;
}
.btn{
     color: $light;
     background-color: $success;
     padding: $size-sm;
     font-size: $size-sm;
     border: none;
     cursor: pointer;
}