.badge-primary {
  background-color: #EFF6FF;
}
.badge-primary.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
}
.badge-primary-mid.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-mid.inset {
  background-color: rgb(62, 110, 255);
  border: 2px inset #a4bbff !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
}
.badge-primary-light.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-light.inset {
  background-color: rgb(102, 138, 248);
  border: 2px inset #c8d5fc !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-darker {
  background-color: #929AAB;
}
.badge-primary-darker.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-darker.inset {
  background-color: #929AAB;
  border: 2px inset #cccfd7 !important;
  color: rgb(28, 82, 244) !important;
}

.badge-warning {
  background-color: #EFF6FF;
}
.badge-warning.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-warning.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.badge-success {
  background-color: #EFF6FF;
}
.badge-success.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-success.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary {
  background-color: #EFF6FF;
}
.badge-primary.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-mid {
  background-color: rgb(62, 110, 255);
}
.badge-primary-mid.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-mid.inset {
  background-color: rgb(62, 110, 255);
  border: 2px inset #a4bbff !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-light {
  background-color: rgb(102, 138, 248);
}
.badge-primary-light.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-light.inset {
  background-color: rgb(102, 138, 248);
  border: 2px inset #c8d5fc !important;
  color: rgb(28, 82, 244) !important;
}

.badge-primary-darker {
  background-color: #929AAB;
}
.badge-primary-darker.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-primary-darker.inset {
  background-color: #929AAB;
  border: 2px inset #cccfd7 !important;
  color: rgb(28, 82, 244) !important;
}

.badge-warning {
  background-color: #EFF6FF;
}
.badge-warning.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-warning.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.badge-success {
  background-color: #EFF6FF;
}
.badge-success.outline {
  background-color: transparent;
  border: 2px solid #FB923C !important;
  color: #FB923C !important;
}
.badge-success.inset {
  background-color: #EFF6FF;
  border: 2px inset white !important;
  color: rgb(28, 82, 244) !important;
}

.btn-flat {
  padding: 0.625rem 1.875rem;
  border: none;
  border-radius: 6.25rem;
  cursor: pointer;
  color: #EFF6FF;
  margin-top: 15px;
  background-color: rgb(102, 138, 248);
}
.btn-flat.badge-flat {
  padding: 0.1875rem 0.375rem;
  border: none;
  border-radius: 3.75rem;
  cursor: pointer;
  color: rgb(28, 82, 244);
  margin-top: 15px;
  font-size: 10px;
}
.btn-flat.badge-flat.is-rounded {
  padding: pxtorem(6) pxtorem(10);
  border-radius: pxtorem(60);
}/*# sourceMappingURL=button.css.map */