@import '../../base/typography';
@import '../../utilies/function';
@import '../../utilies/variable';
@import '../../utilies/mixin';



.btn-flat{
    padding: pixtorem(10) pixtorem(30);
    border: none;
    border-radius: pixtorem(100);
    cursor: pointer;
    color: $primary;
    margin-top: 15px;
    background-color: $primary-20;

    &.badge-flat{
        padding: pixtorem(3) pixtorem(6);
        border: none;
        border-radius:pixtorem(60);
        cursor: pointer;
        color: $light;
        margin-top: 15px;
        font-size:$size-sm;
    

    &.is-rounded{
        padding: pxtorem(6) pxtorem(10);
        border-radius: pxtorem(60);
        
    }
}
}