@import '../assets/vandar/bootstrap/bootstrap';
@import '../assets/component/form.scss';
@import '../assets/vandar/fontawesome/fontawesome';
body{scrollbar-width: none;} 
.relative{
     position: relative;
}
.absolute{
     position: absolute;
     right: 8px;
     top: 25px;
}
.absolute-2{
     position: absolute;
    top: 25px;
    right: 8px;
}
.absolute-3{
     position: absolute;
    top: 17px;
    right: 20px;
}