// $theme: 'light';


// .dark-theme{
//     background-color: #ffffff;
// }

// .btn{
//     padding: 10px 20px;
//     border-radius: 4px;
//     border: none;

//     @if($theme == 'dark'){
//         background-color: white;
//         color: black;
//     }
//     @else if($theme == 'lime'){
//         background-color: white;
//         color: black;
//     }
//     @else{
//         background-color: black;
//         color: white;
//     }
// }

$primary: rgba(28, 82, 244, 1);
$primary-25: rgba(62, 110, 255, 1);
$primary-50: rgba(102, 138, 248, 1);

$warning: rgba(173, 102, 7, 1);
$warning-25: rgba(235, 153, 63, 1);
$warning-50: rgba(255, 220, 190, 1);


$bgColor:(
    'bg-primary' : $primary,
    'bg-warning' : $warning
);

$textColor:(
    'text-primary' : $primary,
    'text-warning' : $warning
);

.bg-primary{
    background-color: map-get($bgColor, 'bg-primary');
}

.bg-warning{
    background-color: map-get($bgColor, 'bg-warning' );
}

.text-primary{
    color: map-get($textColor, text-primary );
}

.box{
    height: 300px;
    width: 300px;

    @media(min-width: 320px) and (max-width: 767px){
        background-color: green;
    }
    @media(min-width: 640px) and (max-width: 940px){
        background-color: yellow;
    }
    @media(min-width: 940px) and (max-width: 1200px){
        background-color: pink;
    }
    @media(min-width: 1000px) {
        background-color: orange;                 
    }
}